{% extends 'oauth/not_auth.html' %}

{% block content %}
{% load bootstrap4 %}
{{ form.media }}
<form action="{% url 'dolphin_note:login' %}" method="post">
<h3>Login:</h3>
  {% csrf_token %}
  {% csrf_token %}
  {% bootstrap_form form %}

  <button type="submit" name="submit" class="btn mybtn">Login</button>
</form>
{% endblock %}
