<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "oauth.css" %}">
  <title>Dolphin.Note</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="position:relative;">
<a class="navbar-brand" href="/">
  <img src="{% static 'logo.svg' %}" alt="" width="100" height="50">
  <span class="site-name" >
    <span class="dolphin-title">Dolphin</span>
    <span class="point-title">.</span>
    <span class="note-title">Note</span>
  </span>
</a>
</nav>
<div class="center content">
{% block content %}
  <a class="mybtn btn btn-secondary" href="{% url 'dolphin_note:signup' %}">
       Sign Up
  </a>
   <a class="mybtn btn btn-secondary" href="{% url 'dolphin_note:login' %}">
       Log in
   </a>
{% endblock %}
</div>
<footer class="page-footer font-small blue">

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2018 Copyright: Hohin Yuriy
  <p> Dedicatad to KS</p>
</div>
<!-- Copyright -->

</footer>
</body>
</html>




