<div class="alert alert-light alert-dismissible fade show conent" role="alert">
  Assigned to you notes
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="conent">
{% if assigned_notes %}
Notes:
<table class="table">
<thead>
    <th>
        Note
    </th>
    <th>
        Project
    </th>
    <th>
        Creator
    </th>
    <th>
        Deadline
    </th>
</thead>
<tbody>
    {% for assigned_note in assigned_notes %}
    <tr>
    <td>
      <a class="get-action"
         href="{% url 'dolphin_note:show_note' note_id=assigned_note.id %}">{{assigned_note.name}}</a>
    </td>
    <td>
        {{assigned_note.project.name}}
    </td>
    <td>
        {{assigned_note.creator.username}}
    </td>
    <td>
      {{assigned_note.due_date}}
    </td>
    </tr>
   {% endfor %}
</tbody>
</table>
{% endif %}
</div>