<div id="labels">
<table class="table">
<tbody>
<tr>
  <td>
{% for collaborator in collaborators %}
  <div class="badge badge-pill badge-info">
    {{ collaborator.collaborator.username }}
    <a href="{% url 'dolphin_note:deassign_from_note' note_id=collaborator.note_id username=collaborator.collaborator.username%}"
       class="post-action">
      <i class="fa fa-times"></i>
    </a>
  </div>
{% endfor %}
  </td>
</tr>
</tbody>
</table>
</div>