<div id="labels">
<table class="table">
<tbody>
<tr>
  <td>
  {% for collaborator in collaborators %}
  <div class="badge badge-pill badge-info">
    {{ collaborator.member.username }}
    <a href="{% url 'dolphin_note:deassign_from_project' project_id=collaborator.project_id username=collaborator.member.username%}"
       class="post-action update-project-list">
      <i class="fa fa-times"></i>
    </a>
  </div>
  {% endfor %}
  </td>
</tr>
</tbody>
</table>
</div>
