{% load static %}
{% load bootstrap4 %}
{{ form.media }}
<form class="conent" id="form" action="{{ url }}" method="post">
{% csrf_token %}
{% bootstrap_form form %}
    <button id="submitButton" type="submit" class="btn btn-success">Submit</button>
</form>
<script src="{% static "form.js" %}"></script>
