<!DOCTYPE html>
{% load static %}

<html lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://storage.googleapis.com/non-spec-apps/mio-icons/latest/twotone.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/2.6.95/css/materialdesignicons.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Dolphin.Note</title>
  </head>
  <body>
   {% if user.is_authenticated %}
   {%with username=username template_name="nav.html" %}
            {% include template_name %}
    {%endwith%}
   <div class="container">
    <div class="row">
    <div class="col-xl-3 ">
    <div class="inbox-filters">
      {% include "left_pannel.html" %}
    </div>
    </div>
    <div class="col-xl-8">
    <div id="appContent">
    <div class="jumbotron conent">
        {{ notifications_list }}
    </div>
    </div>
    </div>
    </div>
    </div>
  {% else %}
   {% include "oauth/not_auth.html" %}
   {% endif %}
  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2018 Copyright: Hohin Yuriy
      <p> Dedicatad to KS</p>
    </div>
    </footer>
  <script src="{% static "scripts.js" %}"></script>
  </body>
</html>




