<div id="labels">
<table class="table table-hover">
<tbody>
{% for label in labels %}
  <tr>
    <td>
      <a href="{% url 'dolphin_note:show_label_notes' label_id=label.id %}"
         class="get-action">
        {{ label.name }}
      </a>
    </td>
    <td align="right">
      {% csrf_token %}
      <a href="{% url 'dolphin_note:delete_label' label_id=label.id %}"
         class="left-pannel-post update-labels-list">
        <i class="fa fa-times"></i>
      </a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>