<div class="conent">
{% if label.note_labels %}
<table class="table">
<thead>
<th>
    Name
</th>
<th>
    Project
</th>
<th>
</th>
</thead>
<tbody>
{% for note_label in label.note_labels %}
<tr>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_note' note_id=note_label.note.id %}" >
      {{note_label.note.name}}
    </a>
  </td>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_notes' project_id=note_label.note.project.id %}" >
      {{ note_label.note.project.name }}
    </a>
  </td>
<td>
  <a class="post-action" href="{% url 'dolphin_note:deassign_label' note_id=note_label.note_id label_id=note_label.label_id %}">
    <i class="material-icons">
    label_off
    </i>
  </a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% else %}
<div class="alert alert-warning alert-dismissible fade show conent" role="alert">
    No notes have <b>{{label.name}}</b> label
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
