<ul class="list-group conent left-pannel">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="get-action" href="{% url 'dolphin_note:show_assigned_notes' %}">
      Inbox
    </a>
    <i class="fa fa-inbox"></i>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="get-action" href="{% url 'dolphin_note:check_today_notifications' %}">
      Today
    </a>
    <i class="fa fa-calendar"></i>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
      <a class="get-action active" href="{% url 'dolphin_note:check_week_notifications' %}">Next 7 days</a>
      <i class="fa fa-book"></i>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="get-action" href="{% url 'dolphin_note:check_custom_period_notifications' %}">Notifications</a>
    <i class="fa fa-wrench"></i>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="get-action" href="{% url 'dolphin_note:show_schedules' %}">Schedulers</a>
    <i class="fa fa-columns" aria-hidden="true"></i>
  </li>
  <div id="accordion">
  <div class="card">
    <div class="card-header inline" id="projectHeading">
    <table class="dolphin-table">
    <tbody>
      <tr>
        <td>
          <button class="btn btn-link update-project-list"
                data-toggle="collapse"
                data-target="#collapseProjects"
                aria-expanded="true"
                aria-controls="collapseProjects">
            Projects
          </button>
        </td>
        <td align="right">
          <a class="get-action" href="{% url 'dolphin_note:create_project' %}">
            <i class="fa fa-plus"></i>
          </a>
        </td>
      </tr>
    </tbody>
    </table>
    </div>

    <div id="collapseProjects" class="collapse" aria-labelledby="projectHeading" data-parent="#accordion">
      <div id="projectsList" class="card-body">

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="labelHeading">
      <table class="dolphin-table">
      <tbody>
        <tr>
          <td>
            <button class="btn btn-link update-labels-list"
                    data-toggle="collapse"
                    data-target="#collapseLabels"
                    aria-expanded="true"
                    aria-controls="collapseLabels">
                Labels
            </button>
          </td>
          <td align="right">
            <a class="get-action" href="{% url 'dolphin_note:add_label' %}">
                <i class="fa fa-plus"></i>
            </a>
          </td>
        </tr>
    </tbody>
    </table>
  </div>
    <div id="collapseLabels" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div id="labelsList">

      </div>
    </div>
  </div>
</div>
</ul>