{% load static %}
<div id="navBar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/">
<img class="logo" src="{% static 'logo.svg' %}" alt="Dolphin.Note">
  <span class="site-name" >
    <span class="dolphin-title">Dolphin</span>
    <span class="point-title">.</span>
    <span class="note-title">Note</span>
  </span>
</a>

<div class="collapse navbar-collapse">
<ul class="navbar-nav mr-auto"></ul>
<ul class="navbar-nav active-cyan-4">
  <input id="livesearch" class="form-control" type="text" placeholder="Search" aria-label="Search">
</ul>
</div>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto"></ul>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"
         href="#"
         id="navbarDropdown1"
         role="button"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false">
<i class="fa fa-user"></i>  {{ username }}</a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{% url 'dolphin_note:logout' %}">Logout</a>
  </div>
    </li>
  </ul>
</div>
</nav>
</div>
<script src="{% static "nav.js" %}"></script>


