{% csrf_token %}
{% load humanize %}
{% load timedelta %}
<div align="center" class="conent">
<a class="get-action"
   href="{% url 'dolphin_note:assign_to_note' note_id=note.id %}"
   role="button">
  <i class="fa fa-user-plus"></i>
  Add Collaborator
</a>
<a class="get-action"
   href="{% url 'dolphin_note:update_note' note_id=note.id %}"
   role="button">
  <i class="fa fa-edit"></i>
  Update Note
</a>
<a class="get-action"
   href="{% url 'dolphin_note:add_subnote' note_id=note.id %}"
   role="button">
  <i class="fa fa-plus"></i>
  Add Subnote
</a>
</div>

{% if note.collaborators %}
<div class="conent"></div>
Assigned users:
{%with collaborators=note.collaborators template_name="assigned_to_note_list.html" %}
  {% include template_name %}
{%endwith%}
{% endif %}


<table class="table conent table-hover">
<tbody>
  <tr>
    <td>Name:</td>
    <td>{{ note.name }}</td>
  </tr>
  <tr>
    <td>Project:</td>
      <td>
     <a class="get-action" href="{% url 'dolphin_note:show_notes' project_id=note.project.id%}">
       {{ note.project.name }}
     </a>
  </td>
  </tr>
  <tr>
    <td>Deadline date:</td>
    <td>{{ note.due_date }}</td>
  </tr>
  <tr>
    <td>Priority:</td>
    <td>{{ note.priority.value }}</td>
  </tr>
  <tr>
    <td>Author:</td>
    <td>{{ note.creator.username }}(ID: {{ note.creator.id }})</td>
  </tr>
  <tr>
    <td>Archive:</td>
    <td>{{ note.is_archived }}</td>
  </tr>
  <tr>
    <td>Creation date:</td>
    <td>{{ note.creation_date }}</td>
  </tr>
  <tr>
    <td>Last updated:</td>
    <td>{{ note.updation_date }}</td>
  </tr>
</tbody>
</table>


{% if note_labels %}
<div id="noteLabels" class="conent">
Labels:
<table class="table">
<tbody>
<tr>
  <td>
    {% for note_label in note_labels %}
    <div class="badge badge-info">
    {{note_label.label.name}}
    <a href="{% url 'dolphin_note:deassign_label' label_id=note_label.label_id note_id=note_label.note_id %}"
       class="post-action">
      <i class="fa fa-times"></i>
    </a>
    </div>
   {% endfor %}
  </td>
</tr>
</tbody>
</table>
{% endif %}
<a class="get-action"
   href="{% url 'dolphin_note:assign_label' note_id=note.id %}"
   role="button">
    <i class="fa fa-tag fa-rotate-90"></i>
      Assign Label
</a>
</div>

<div id="notificationsList" class="conent">
{% if notifications %}
Notifications:
<table class="table">
<tbody>
<tr>
  <td>
    {% for notification in notifications %}
    <div class="badge badge-info">
    <i class="mdi mdi-alarm"></i>
    {{ notification.date|naturalday }} |
    <i class="fa fa-repeat"></i>
    {{ notification.delta|timedelta }}
    <a href="{% url 'dolphin_note:delete_notification' notification_id=notification.id %}"
       class="post-action">
      <i class="fa fa-times"></i>
    </a>
    </div>
   {% endfor %}
  </td>
</tr>
</tbody>
</table>
{% endif %}
<a class="get-action"
   href="{% url 'dolphin_note:add_notification' note_id=note.id %}"
   role="button">
    <i class="fa fa-bell"></i>
    Add Notification
</a>
</div>


<div id="noteSchedulesList" class="conent">
{% if notifications %}
Schedules:
<table class="table">
<tbody>
<tr>
  <td>
    {% for schedule in note.schedulers %}
    <div class="badge badge-info">
    <i class="fa fa-calendar"></i>
    {{ schedule.start_date|naturalday }} - {{ schedule.end_date|naturalday }} |
    <i class="fa fa-repeat"></i>
    {{ schedule.delta|timedelta }}
    <a href=""
       class="post-action">
      <i class="fa fa-times"></i>
    </a>
    </div>
   {% endfor %}
  </td>
</tr>
</tbody>
</table>
{% endif %}
<a class="get-action"
   href="{% url 'dolphin_note:create_subnote_scheduler' note_id=note.id %}"
   role="button">
  <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
  Add Schedule
</a>
</div>

{% csrf_token %}