{% for note_label in note_labels %}
<div class="badge badge-info">
{{note_label.name}}
  <a href="{% url 'dolphin_note:deassign_label' note_id=note_id label_id=note_label.id %}"
     class="post-action">
    <i class="fa fa-times"></i>
  </a>
</div>
{% endfor %}