<li class="note-item">
<div class="note-item-content dolphin-table tree-cell-content">
  <a {% if node.is_archived %} style="text-decoration: line-through;" {% endif %}
    href="{% url 'dolphin_note:update_archive_status' note_id=node.id %}"
    class="strike-out"
    title="Send note to archive">
      {{node.name}}
  </a>
  <div class="tree-cell-item">
  </div>
  <div class="tree-cell-item" align="right">
    <div class="hideble inline">
        <a class="get-action"
           href="{% url 'dolphin_note:add_subnote' note_id=node.id %}"
           title="Add subnote">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <a class="get-action"
           href="{% url 'dolphin_note:show_note' note_id=node.id %}"
           title="Note info">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
        <a class="get-action"
           href="{% url 'dolphin_note:create_subnote_scheduler' note_id=node.id %}"
           title="Add repeatition">
          <i class="mdi mdi-calendar-clock"></i>
        </a>
        <a class="post-action"
           href="{% url 'dolphin_note:delete_note' note_id=node.id %}"
           title="Delete note">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class="inline" style="padding-right: 6px">
       <i class="fa fa-circle fa-spin" aria-hidden="true" style="color: {{ node.get_priority_color }}"></i>
    </div>
  </div>
</div>

{%if node.has_childs %}
<ul>
    {%for ch in node.subnotes %}
      {%with node=ch template_name="note_tree.html" %}
           {% include template_name %}
      {%endwith%}
    {%endfor%}
 </ul>
{%endif%}
</li>
