{% load humanize %}
{% load timedelta %}
<div class="alert alert-light alert-dismissible fade show conent" role="alert">
  This is your activity for {{ period|timedelta }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="conent" id="dueDateList">
{% if due_date_notes %}
Note Deadlines:
<table class="table">
<thead>
<th>
    Name
</th>
<th>
    Project
</th>
<th>
    Deadline
</th>
<th>
</th>
</thead>
<tbody>
{% for due_date_note in due_date_notes %}
<tr>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_note' note_id=due_date_note.id %}" >
      {{due_date_note.name}}
    </a>
  </td>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_notes' project_id=due_date_note.project.id %}" >
      {{ due_date_note.project.name }}
    </a>
  </td>
  <td>
    {{ due_date_note.due_date|naturalday }}
  </td>
<td>
  <a class="post-action" href="{% url 'dolphin_note:delete_note' note_id=due_date_note.id %}">
    <i class="fa fa-times"></i>
  </a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
<div id="notificationsList">
{% if notifications %}
Notifications:
<table class="table">
<thead>
<th>
    Note
</th>
<th>
    Project
</th>
<th>
    Date
</th>
<th>
    Repeats
</th>
<th>
</th>
</thead>
<tbody>
{% for notification in notifications %}
<tr>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_note' note_id=notification.note.id %}" >
      {{notification.note.name}}
    </a>
  </td>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_notes' project_id=notification.note.project.id %}" >
      {{ notification.note.project.name }}
    </a>
  </td>
  <td>
    {{notification.date}}
  </td>
  <td>
    {{notification.delta|timedelta}}
  </td>
  <td>
    <a href="{% url 'dolphin_note:delete_notification' notification_id=notification.id %}"
       class="post-action">
      <i class="fa fa-times"></i>
    </a>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
</div>