{% if current_projects %}
<div id="recentProjects">
<table class="table table-hover">
<thead>
  <tr><p>Active:</p></tr>
  <tr></tr>
  <tr></tr>
</thead>
<tbody>
{% for project in current_projects %}
<tr>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_notes' project_id=project.id%}">{{ project.name }}</a>
  </td>
<td align="right">
  <a href="{% url 'dolphin_note:update_project' project_id=project.id %}" class="get-action">
    <i class="fa fa-edit"></i>
  </a>
  <a class="left-pannel-post update-project-list" href="{% url 'dolphin_note:delete_project' project.id %}">
    <i class="fa fa-times"></i>
  </a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}

{% if archived_projects %}
<div id="archivedProjects">
<table class="table table-hover dolphin-table">
<thead>
  <tr><p>Archived:</p></tr>
  <tr></tr>
  <tr></tr>
</thead>
<tbody>
{% for project in archived_projects %}
<tr>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_notes' project_id=project.id%}">{{ project.name }}</a>
  </td>
  <td align="right">
    <a href="{% url 'dolphin_note:update_project' project_id=project.id %}" class="get-action" >
      <i class="fa fa-edit"></i>
    </a>
    <a class="left-pannel-post update-project-list" href="{% url 'dolphin_note:delete_project' project.id %}" >
      <i class="fa fa-times"></i>
    </a>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}

{% if assigned_projects %}
<div id="assignedProjects">
<table class="table table-hover">
<tbody>
<p>Assigned:</p>
{% for project in assigned_projects %}
<tr>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_notes' project_id=project.id%}">{{ project.name }}</a>
  </td>
  <td align="right">
    <a href="{% url 'dolphin_note:update_project' project_id=project.id %}" class="get-action" >
      <i class="fa fa-edit"></i>
    </a>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
{% csrf_token %}
