{% load humanize %}
{% load timedelta %}
<div id="shedulers" class="conent">
{% if schedules %}
Scheduler:
<table class="table">
<thead>
  <th>
    Note
  </th>
  <th>
    Project
  </th>
  <th>
    Start
  </th>
  <th>
    End
  </th>
  <th>
    Delta
  </th>
  <th></th>
</thead>
<tbody>
{% for schedule in schedules %}
  <tr>
    <td>
      <a class="get-action"
         href="{% url 'dolphin_note:show_note' note_id=schedule.note.id %}">
        {{ schedule.note.name }}
      </a>
    </td>
    <td>
      <a class="get-action"
         href="{% url 'dolphin_note:show_notes' project_id=schedule.note.project.id %}">
        {{ schedule.note.project.name }}
      </a>
    </td>
    <td>
      {{ schedule.start_date|naturalday }}
    </td>
    <td>
      {{ schedule.end_date|naturalday }}
    </td>
    <td>
      {{ schedule.delta|timedelta }}
    </td>
    <td>
      <a class="post-action"
         href="{% url 'dolphin_note:delete_schedule' scheduler_id=schedule.id %}">
        <i class="fa fa-times"></i>
      </a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
</div>
