{% load humanize %}
{% if projects %}
<div id="recentProjects" class="conent">
<table class="table table-hover">
<thead>
  <tr><p>Projects:</p></tr>
  <tr></tr>
  <tr></tr>
</thead>
<tbody>
{% for project in projects %}
<tr>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_notes' project_id=project.id%}">{{ project.name }}</a>
  </td>
<td align="right">
  <a href="{% url 'dolphin_note:update_project' project_id=project.id %}" class="get-action">
    <i class="fa fa-edit"></i>
  </a>
  <a class="left-pannel-post update-project-list" href="{% url 'dolphin_note:delete_project' project.id %}">
    <i class="fa fa-times"></i>
  </a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
{% if notes %}
<div class="conent">
Notes:
<table class="table">
<tbody>
{% for note in notes %}
<tr>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_note' note_id=note.id %}" >
      {{note.name}}
    </a>
  </td>
  <td>
    <a class="get-action" href="{% url 'dolphin_note:show_notes' project_id=note.project.id %}" >
      {{ note.project.name }}
    </a>
  </td>
  <td>
    {{ note.due_date|naturalday }}
  </td>
  <td>
    <a class="post-action" href="{% url 'dolphin_note:delete_note' note_id=note.id %}">
      <i class="fa fa-times"></i>
    </a>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
{% if labels %}
<div id="labels">
<table class="table table-hover">
<thead>
  <tr><p>Labels:</p></tr>
  <tr></tr>
  <tr></tr>
</thead>
<tbody>
{% for label in labels %}
  <tr>
    <td>
        {{ label.name }}
    </td>
    <td align="right">
      {% csrf_token %}
      <a href="{% url 'dolphin_note:delete_label' label_id=label.id %}"
         class="left-pannel-post ">
        <i class="fa fa-times"></i>
      </a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}