{% load static %}
<h2 class="page-header center"> Project {{ project.name }}</h2>
<div class="center">
<a class="get-action"
   href="{% url 'dolphin_note:create_note' project_id=project.id %}">
  <i class="fa fa-plus"></i>
      Add Note
</a>
<a class="get-action"
   href="{% url 'dolphin_note:assign_to_project' project_id=project.id %}">
    <i class="fa fa-user-plus"></i>
      Assign User
</a>
</div>

{% if project.collaborators %}
Assigned users:
{%with collaborators=project.collaborators template_name="assigned_to_project_list.html" %}
    {% include template_name %}
{%endwith%}
{% endif %}

<ul class="tree jumbotron">
{%for node in all_root_elems %}
    {%include "note_tree.html" %}
{%endfor%}
</ul>
<script src="{% static "notesTree.js" %}"></script>
